
<div class="collapse navbar.collapse" id="mynavbar">

  <ul class="nav navbar-nav">
    <li  routerLinkActive="active" >
      <a routerLink='/dashboard' class="link">Dashboard</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink='/tasks' class="link">Aufgaben</a>
    </li>

    <li  routerLinkActive="active" >
        <a routerLink='/settings' class="link">Einstellungen</a>
    </li>

    <li routerLinkActive="active">
        <a routerLink='/about' class="link">Über uns</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink='/tasks/new' class="link">Neue Aufgabe anlegen</a>
    </li>
  </ul>
</div>
   <!-- </ul class="dropdown-menu">  
    <li>
      <a [routerLink]="['/tasks', {query: 'BACKLOG'}]">Backlog</a>
    </li>
  </ul> -->

  <a [routerLink]="[{outlets: {'bottom': 'chat'}}]">Chat öffnen</a> 
  <ul class="nav navbar-nav" style="float: right"> </ul>


  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div id="right">
    <router-outlet name="right"> </router-outlet>
  </div>
 
    <div id="footer">
  <router-outlet name="bottom"></router-outlet>
</div>

<button type="button" class="btn btn-primary chat-button"
    (click)="toggleChat()">
    <span class="glyphicon glyphicon-comment"></span>
</button>
